* {
    font-family: Cascadia Code;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(31, 31, 31, .85);
    color: #e0e0e0;
    padding: 2px 10px;
    margin: 2px;
    /* border-radius: 17px; */
}

tooltip {
    background: rgba(31, 31, 31, .85);
    color: #e0e0e0;
    border-radius: 10px;
    border-width: 1px;
    border-color: #e0e0e0;
    border-style: solid;
}

#workspaces button {
    padding: 5px 10px;
    border-radius: 10px;
    color: #e0e0e0;
}

#workspaces button.focused {
    color: #e0e0e0;
    background-color: #c49ec4;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #e0e0e0;
    background-color: #9ec3c4;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: #c49ec4;
    color: #e0e0e0;
    border-radius: 10px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #memory, #cpu, #custom-player, #language {
    padding: 5px 10px;
    margin: 0px 0px;
}
#clock {
    background-color: #181818;
    border-radius: 0px 0px 15px 15px;
    margin: 0px 0px 5px 0px;
}

