* {
    font-family: JetBrains Mono NF;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #1f1f1f;
    color: white;
    padding: 2px 10px;
    margin: 2px 10px;
    /* border-radius: 17px; */
}

tooltip {
	background: #2b2b2b;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #ffffff;
}

#workspaces button {
    padding: 5px 10px;
    border-radius: 10px;
    color: #f0f0f0;
}

#workspaces button.focused {
    color: #0f0f0f;
    background-color: #c49ec4;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #0f0f0f;
    background-color: #9ec3c4;
    border-radius: 10px;
}

#workspaces button:hover {
	background-color: #c49ec4;
	color: #0f0f0f;
	border-radius: 10px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #memory, #cpu, #custom-player, #language {
	padding: 5px 10px;
	margin: 0px 0px;
}
#clock {
    background-color: #181818;
    border-radius: 0px 0px 15px 15px;
    margin: 0px 0px 5px 0px;
}

